@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

/* Re-enable hover for all elements, regardless of device/browser detection */
@custom-variant hover (&:hover);

@theme{
    /* --color-primary: #F84565; */
    --color-primary: #F30E0E;
    --color-primary-dull: #B30A0A;
}

@keyframes fade-in {
	from { opacity: 0; transform: scale(0.95); }
	to { opacity: 1; transform: scale(1); }
}
.animate-fade-in {
	animation: fade-in 0.25s ease-out;
}


*{
    font-family: "Outfit", sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #787777 #1E1E1E;
}

body{
    color: white;
    background-color: #09090B;
}

.no-scrollbar{
    scrollbar-width: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

::-webkit-calendar-picker-indicator{
    filter: invert(1);
}